.form {
    margin: auto;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 12vh;
    width: 50%;
    padding: 4vw;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.heading {
    text-align: center;
    margin-bottom: 5vh;
}

.input {
    width: 100%;
    font-size: larger;
    padding: 2vh 5vh;
    margin-bottom: 4vh;
    border-radius: 4vh;
    border: 2px solid rgb(184, 172, 172);
}

.button{
    width: 40%;
    margin: 0 30%;
}

.status{
    color: green;
    font-weight: 700;
}
